@import 'tailwindcss';
/*@import './expose.css'; /* expose all tailwind css default colours*/
@import "./base.css";
@import "./vue-multiselect.css";


#app {
  max-width: 1280px;
  @apply py-8;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* RESET */

/* Balance headings */
h1,h2,h3,h4,h5,h6 {
  @apply text-balance;
}

/* text-content */
p,li,figcaption {
  @apply text-pretty;
  /* @apply max-w-[65ch] */
}


@theme {
  /* These values are added in addition to the defaults */
  --breakpoint-xs: 480px;
  --container-content: 1280px;
}

*{
  --animate-duration: 1s;
  animation-duration: var(--animate-duration) !important;
}


/**********/

.grid-area-stack {
  display: grid;
  grid-template-areas: "stack";
  >* {
    grid-area: stack;
  }
}

button {
  @apply cursor-pointer;
}

.z-menu{
  z-index: 10000;
}

.animation-duration-3000 {
  --animate-duration: 3s;
}
.animation-duration-300 {
  --animate-duration: 30ms;
}

.animation-pause {
  animation-play-state: paused;
}
.animation-play {
  animation-play-state: running;
}
